@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import 'tw-animate-css';
@import '../node_modules/@uzh-bf/design-system/dist/design-system.css';

@plugin '@tailwindcss/typography';

@source './**/*.{ts,tsx}';

@theme inline {
  --breakpoint-lg: 72rem;
  --font-sans:
    var(--theme-font-primary), var(--source-sans-pro), 'Source Sans 3',
    'Source Sans Pro', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    var(--mono-space-font), ui-monospace, SFMono-Regular, 'SF Mono', Menlo,
    Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-uzh-blue: #0028a5;
  --color-uzh-blue-100: #0028a5;
  --color-uzh-blue-80: #3353b7;
  --color-uzh-blue-60: #667ec9;
  --color-uzh-blue-40: #99a9db;
  --color-uzh-blue-20: #ccd4ed;
  --color-uzh-grey: #a3adb7;
  --color-uzh-grey-100: #a3adb7;
  --color-uzh-grey-80: #b5bdc5;
  --color-uzh-grey-60: #c8ced4;
  --color-uzh-grey-40: #dadee2;
  --color-uzh-grey-20: #edeff1;
  --color-uzh-red: #dc6027;
  --color-uzh-red-100: #dc6027;
  --color-uzh-red-80: #e38052;
  --color-uzh-red-60: #eaa07d;
  --color-uzh-red-40: #f1bfa9;
  --color-uzh-red-20: #f8dfd4;
  --color-uzh-yellow: #fede00;
  --color-uzh-yellow-100: #fede00;
  --color-uzh-yellow-80: #fbe651;
  --color-uzh-yellow-60: #fcec7c;
  --color-uzh-yellow-40: #fdf3a8;
  --color-uzh-yellow-20: #fef9d3;
  --color-uzh-lightgreen: #91c34a;
  --color-uzh-lightgreen-100: #91c34a;
  --color-uzh-lightgreen-80: #aad470;
  --color-uzh-lightgreen-60: #bfdfc4;
  --color-uzh-lightgreen-40: #d5e9b7;
  --color-uzh-lightgreen-20: #eaf4db;
  --color-uzh-darkgreen: #2a7f62;
  --color-uzh-darkgreen-100: #2a7f62;
  --color-uzh-darkgreen-80: #569d85;
  --color-uzh-darkgreen-60: #80b6a4;
  --color-uzh-darkgreen-40: #abcec2;
  --color-uzh-darkgreen-20: #d5e7e1;
  --color-uzh-turqoise: #0b82a0;
  --color-uzh-turqoise-100: #0b82a0;
  --color-uzh-turqoise-80: #3c9fb6;
  --color-uzh-turqoise-60: #6bb7c7;
  --color-uzh-turqoise-40: #9ed0d9;
  --color-uzh-turqoise-20: #cfe8ec;
}

:root {
  --theme-color-primary: #0028a5;
  --theme-color-primary-80: #3353b7;
  --theme-color-primary-60: #667ec9;
  --theme-color-primary-40: #99a9db;
  --theme-color-primary-20: #ccd4ed;
  --theme-color-secondary: #dc6027;
  --theme-color-secondary-80: #e38052;
  --theme-color-secondary-60: #eaa07d;
  --theme-color-secondary-40: #f1bfa9;
  --theme-color-secondary-20: #f8dfd4;
}
